<% provide :title, t(".contact_title") %>
<h1><%= t ".contact_title" %></h1>
<p>
  <%= t ".contact_description_title" %>
  <%= link_to t(".contact_page"), Settings.link.contact %>
</p>

<%= link_to t("static_pages.home.home"), root_path(locale) %>
