<% provide :title, t(".help_title") %>
<h1> <%= t ".help_title" %> </h1>
<div>
  <p>
    <%= link_to t(".rails_tutorial_help_page"), Settings.link.help %>
    <p>
      <%= t ".help_description_detail" %>
      <em><%= link_to t(".ruby_on_rails_tutorial"), Settings.link.book %></em>
    </p>
  </div>
