#error_explanation {
  color: $state-danger-text;
  ul {
    color: $state-danger-text;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error !optional;
  .form-control {
    color: $state-danger-text;
  }
}
